.about {
  padding: 0 45px;
  padding-bottom: 112px;

  @media (max-width: 1023px) {
    padding: 0;
    padding-bottom: 83px;
  }

  @media (max-width: 767) {
    padding: 0;
    padding-bottom: 65px;
  }
}

.about__wrapper {
  position: relative;
  max-width: 1170px;
  padding-left: 189px;
  margin: 0 auto;

  p {
    font-family: "PT Mono", "Courier", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;

    &:first-of-type {
      margin-bottom: 22px;
    }
  }

  @media (max-width: 1023px) {
    padding-right: 38px;
    padding-left: 211px;
  }

  @media (max-width: 767px) {
    padding: 0 5%;

    p {
      &:first-of-type {
        margin-bottom: 39px;
      }
    }
  }
}

.about__title {
  margin-bottom: 18px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #666666;

  @media (max-width: 1023px) {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about__button {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 45px;
  padding: 0;
  margin-top: 38px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00B2FF;
  border: 1px solid #00B2FF;
  border-radius: 5px;
  background: none;
  cursor: pointer;

  span {
    margin-top: 14px;
  }

  &:hover,
  &:focus {
    color: orange;
    border-color: orange;
  }
}

.about__image-wrapper {
  position: absolute;
  top: 5px;
  left: -22px;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1023px) {
    top: 0;
    left: -8px;
    width: 251px;
    height: 361px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}
