.advantages {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  padding: 112px 42px;
  padding-bottom: 73px;

  @media (max-width: 1023px) {
    padding: 54px 24px;
    padding-bottom: 24px;
  }

  @media (max-width: 767px) {
    padding: 37px 5%;
  }
}

.advantages__item {
  flex: 1 0 45%;
  max-width: 570px;
  min-height: 300px;
  padding: 36px 43px;
  margin-right: 33px;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;

  &:nth-child(2n) {
    margin-right: 0;
  }

  h4 {
    margin-bottom: 14px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #00B2FF;
  }

  p {
    font-family: "PT Mono", "Courier", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }

  @media (max-width: 1023px) {
    min-height: 232px;
    padding: 20px;
    padding-right: 22px;
    padding-left: 21px;

    h4 {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 767px) {
    flex: 1 0 100%;
    max-width: inherit;
    padding: 20px;
    padding-right: 17px;
    margin-right: 0;

    h4 {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.advantages__item:hover {
  background: #00B2FF;
  border-color: #00B2FF;

  h4, p {
    color: #ffffff;
  }

  .advantages__image-wrapper {
    color: #ffffff;
  }
}

.advantages__image {
  width: 100%;
  height: 100%;
}

.advantages__image-wrapper {
  width: 36px;
  height: 36px;
  margin-bottom: 23px;
  color: #00B2FF;

  @media (max-width: 1023px) {
    width: 32px;
    height: 32px;
    margin-bottom: 14px;
  }
}

.advantages__triangles-bigger,
.advantages__triangles-bigger-2,
.advantages__triangles-smaller,
.advantages__triangles-smaller-2 {
  position: absolute;
  z-index: -1;

  @media (max-width: 1023px) {
    display: none;
  }
}

.advantages__triangles-bigger {
  top: 40%;
  left: 25%;

  @media (max-width: 1023px) {
    display: block;
    top: 41%;
    left: 37%;
  }

  @media (max-width: 767px) {
    top: 70%;
    left: -15%;
  }
}

.advantages__triangles-bigger-2 {
  top: 57%;
  left: -37%;
  transform: rotate(180deg);
}

.advantages__triangles-smaller {
  top: 5%;
  left: -8%;
}

.advantages__triangles-smaller-2 {
  top: 48%;
  right: -24%;
  transform: rotate(180deg);
}
