.questions {
  min-height: 670px;
  background: #00B2FF;
  color: #FFFFFF;
  overflow: hidden;

  @media (max-width: 1023px) {
    min-height: auto;
  }
}

.questions__wrapper {
  display: flex;
  max-width: 1315px;
  padding-top: 91px;
  padding-right: 66px;
  padding-left: 56px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    padding: 80px 90px;
    padding-bottom: 105px;
  }

  @media (max-width: 767px) {
    padding: 30px 5%;
    padding-bottom: 41px;
  }
}

.questions__image {
  position: relative;
  margin-top: 72px;
  margin-right: auto;
  z-index: 1;

  @media (max-width: 1023px) {
    display: none;
  }
}

.questions__triangles-bigger {
  position: absolute;
  top: -220px;
  left: -140px;
  z-index: -1;
}

.questions__triangles-smaller {
  position: absolute;
  top: 40px;
  left: -175px;
  z-index: -1;
}


.questions__info {
  max-width: 600px;
  margin-left: 20px;

  @media (max-width: 1023px) {
    flex-grow: 1;
    max-width: inherit;
    margin-left: 0;
  }
}

.questions__fieldset {
  position: relative;
  display: flex;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1023px) {
    margin-bottom: 46px;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin: 0;
  }
}

.questions__title {
  margin-bottom: 10px;
  margin-right: 27px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: 1023px) {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: 767px ) {
    margin: 0;
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 39px;
  }
}

.questions__description {
  margin-bottom: 49px;
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 767px ) {
    margin: 0;
    margin-bottom: 30px;
  }
}

.questions textarea {
  width: 100%;
  padding: 14px 16px;
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background: rgba(255,255,255,0.1);
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #fff;
  resize: none;

  &::placeholder {
    color: #fff;
  }

  @media (max-width: 767px ) {
    margin: 0;
    margin-bottom: 30px;
  }
}

.questions input {
  width: 100%;
  max-width: 270px;
  padding: 14px 16px;
  margin: 0;
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  background: rgba(255,255,255,0.1);
  color: #fff;

  &:first-child {
    margin-right: 30px;
  }

  &::placeholder {
    color: #fff;
  }

  @media (max-width: 1023px ) {
    max-width: inherit;
  }

  @media (max-width: 767px ) {
    margin: 0;
    margin-bottom: 30px;

    &:first-child {
      margin-right: 0;
    }
  }
}

.questions__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  padding: 0;
  margin-right: 38px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #00B2FF;
  cursor: pointer;
  order: 1;

  &:hover,
  &:focus {
    background: orange;
  }

  @media (max-width: 1023px) {
    width: 280px;
    margin-right: 41px;
  }

  @media (max-width: 767px ) {
    width: 100%;
    margin: 0;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 16px;
  }
}

.questions input[type="checkbox"] {
  bottom: 0;
  left: 50%;
}

.questions label[for="agreement"] {
  position: relative;
  max-width: 230px;
  padding-left: 32px;
  margin-top: 10px;
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  order: 2;

  &:hover,
  &:focus {
    color: black;

    &::before {
      border-color: black;
    }
  }
}

.questions input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
}

.questions input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  padding: 1px;
  transform: rotate(45deg);
}

.questions input[type="checkbox"]:checked + label:hover::after {
  border-color: black;
}

.questions input[type="checkbox"]:focus + label {
  color: black;
}

.questions input[type="checkbox"]:focus + label::before {
  border-color: black;
}

.questions input[type="checkbox"]:focus + label::after {
  border-color: black;
}
