.services {
  background: #1B2D37;
  color: #fff;
}

.services__wrapper {
  max-width: 1260px;
  padding: 93px 45px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    padding: 93px 3%;
  }

  @media (max-width: 767px) {
    padding: 53px 5%;
  }
}

.services__description {
  margin-bottom: 47px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: 1023px) {
    max-width: 613px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: 767px) {
    max-width: inherit;
    font-size: 28px;
    line-height: 39px;
  }
}

.services__list {
  display: flex;

  @media (max-width: 1023px) {
    flex-direction: column;

  }
}

.services__item {
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    height: 256px;
    margin: 0;
    margin-bottom: 46px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.services__link {
  position: relative;
  display: block;

  &:hover {
    .services__image {
      opacity: 0.6;
    }

    .services__item-arrow-box {
      background: orange;
    }
  }
}

.services__item-arrow-box {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 63px;
  height: 63px;
  background: #00B2FF;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    padding: 1px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.services__item-title {
  position: absolute;
  top: 53px;
  left: 44px;
  max-width: 172px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 1023px) {
    top: 44px;
  }

  @media (max-width: 767px) {
    top: 23px;
    left: 35px;
  }
}

.services__item-image-wrapper {
  @media (max-width: 1023px) {
    height: 256px;
    margin-right: 0;
  }
}

.services__image {
  width: 100%;
  height: 100%;
  opacity: 0.2;

  @media (max-width: 1023px) {
    object-fit: cover;
  }
}
